@charset "UTF-8";

h2, button {
	margin: 20px;
	text-align: center;
	font-family: "Times New Roman", Times, serif;
	
}

label {
	font-size: 20px;
	margin-left: 10px;
	font-family: "Times New Roman", Times, serif;
}